@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');

.jumbotron {
    background: #A12559; 
}
.Counter{
    text-align: center;
    background: #A12559;
}
.Counter div {
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    background: #A12559;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    padding: 10px;
    margin: auto;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 20px;
}